body{font-family: 'Montserrat', sans-serif; font-size: 16px;
}
.topheader{ background: #731b67; color: #fff; font-size: 16px; padding: 0px 0 5px }
a{color:#731b67; }
.topheader p{padding: 0; margin:0;}
.topheader a{ display: inline-block; }
.ml-50{margin-left: 50px}
.btn-white{ background: #fff; padding: 7px 15px; color:#731b67; font-weight: bold; text-decoration: none; }
.btn1{ background:#731b67; color: #fff; padding:10px 17px; border:2px solid #731b67; font-weight: bold; border-radius: 5px  }
.addsection h2{color: #0d223c; font-weight: bold;}
.addsection .col-md-12{ border: 1px solid #eae8ea; border-radius: 20px; padding: 40px 0  }
.addsection p{ font-size: 16px;margin-bottom: 30px }
.close1{ color: #fff; margin-left: 50px; font-size: 24px; display: inline-block;margin-top: 2px; cursor: pointer;}
.close1:hover{ color: #fff;}
.banner{background: url('banner.png'); padding-top: 70px}
.banner h1{color: #fff;font-weight: bold; line-height:1.5; margin-top: 50px; margin-bottom: 70px}
.banner a{border:1px solid #fff; padding: 11px 43px;font-weight: bold; color: #fff; text-decoration: none}
.banner a:hover{border:1px solid #fff; padding: 11px 43px;font-weight: bold; color: #fff; text-decoration: none; color: #001632; background: #fff}
.header{background-color: #0d223c; padding: 8px 0 0}
.header ul{margin-top: 10px}
.header ul li{list-style: none; display: inline; padding:10px;}
.header ul li a{color: #fff; font-weight: bold;padding: 10px; font-size: 14px}
.header ul li a:hover{background-color: #fff;color: #95548b;padding: 10px;border-radius: 3px}
.header ul li a:hover{text-decoration: none;}
.carousel-indicators li{width: 40px; height: 8px; background: #fff; margin-bottom: 9px;}
.carousel-indicators .active{width: 40px; height: 8px; background: #95548b; border-color: #95548b}
.carousel-indicators{ bottom: 100px; left: 70px; }
.about2,.about3{color: #0d223c}
.navbar{margin-bottom: 0}
.login,.login:hover{border:2px solid #fff; padding: 5px 18px}
.main h2{border-bottom: 1px solid #eae8ea;padding: 60px 0px 20px 0px}
.main{margin-bottom: 60px}
.p3{margin-top: 80px}
.p2{margin-top: 28px}
.p1{margin-top: 25px}
.p4{margin-top: 28px}
.mt-30{margin-top: 30px}
.mb-30{margin-bottom: 30px;}
.footer-back{background-color: #0d223c;padding: 50px 0}
footer h4{ margin-top: 0; color: #fff;font-weight: bold; margin-bottom: 20px }
.quick{color: #fff; font-weight: bold}
.navbar-toggle{border:1px solid #fff;}
.navbar-toggle .icon-bar{ background: #fff }
.ul1{padding: 0}
.ul1 li{list-style: none; padding: 10px 0}
.ul1 li a:hover{text-decoration: none;}
.ul1 li a{color: #fff;}
.ul2 li{list-style: none; padding: 10px 0}
.ul2 li a{color: #fff}
.ul2 li a:hover{text-decoration: none;}
.legal{color: #fff;font-weight: bold}
.ul3{padding: 0}
.ul3 li{list-style: none; padding: 10px 0}
.ul3 li a:hover{text-decoration: none;}
.ul3 li a{color: #fff}
.footer p{ color: #fff; }

.sociallinks{ list-style: none; padding-left: 0 }
.sociallinks li{display: inline;}
.text{background-color: #263850; height: 50px; border-color:#263850;}
.button{background-color: #000;color: #47724d;padding: 7px 27px}
.footer-back h1{margin-top: 40px}
.main-section{background-color: #0d223d;margin-bottom: 40px}
.main-section h1{color: #fff;font-weight: bold;padding: 53px 53px 10px 53px}
.main-section p a{border:1px solid #fff; padding: 11px 43px;font-weight: bold; color: #fff}
.main-section p a:hover{border:1px solid #fff;background: #fff;color: #925088;text-decoration: none;padding: 11px 43px;font-weight: bold}
.main-section p{padding: 32px 53px 53px 53px}
.second-section{background-color: #fff;}
.p1 a:hover{text-decoration:none; color: #fff; background-color: #925088;border-radius: 3px; border:2px solid #fff; padding: 12px 50px}
.p1 a{text-decoration: none;color:#925088;background-color: #fff;border-radius: 3px; border:2px solid #925088;padding: 12px 50px }
.view p{margin-top: 50px}
.heading{font-size: 30px; color:#0d223c; font-weight: bold; }
.terms{color:#0d223c}
.second-section h2{margin-top: 0}
.p1{margin-top: 20px}
.p2{margin-top: 0;margin-bottom: 0}
.pl-0{padding-left:0;}
.border1{padding: 3px; border: 1px solid #ccc; border-radius: 100px; height: 45px; width: 45px; margin-top: px}
.box{border: 1px solid #f3f2f3;margin-top: 65px;border-radius: 5px;padding: 1px;box-shadow: 0 0 2px #ccc}
.box1{background-color: #fcfbff;border-bottom: 1px solid #f3f2f3;padding: 10px 20px}
.pharmacy{font-size: 10px;margin-bottom: 0}
.box1 img{ margin-top: 3px }
.pl-25{padding-left: 25px}
.box2{border: 1px solid #f3f2f3;margin-top: 30px;border-radius: 5px;padding: 1px;box-shadow: 0 0 2px #ccc}
.text-bold{font-weight: bold}
.value{padding: 10px 20px}
.third-section{background-color: #fcfbff;margin-top: 35px;padding: 30px 0px 93px 0px}
.third-section h2{margin-bottom: 65px;margin-top: 30px;color: #0d223c}
.invest img,.invest1 img{ margin-bottom: 10px }
.invest-p{font-weight: bold;font-size: 16px}
.invest{border:1px solid #f3f2f3; border-radius: 18px;padding: 30px 25px;height: 275px}
.invest1{border:1px solid #f3f2f3; border-radius: 18px;padding: 30px 25px;height: 275px;margin-top: 30px}
.forth-section h2{font-weight: bold;margin-bottom: 50px; color: #0d223c}
.forth-section{margin-top: 70px;padding-bottom: 140px}
.listed{font-weight: bold;}
.last-section{background-color:#fcfbff;padding-top: 83px;padding-bottom: 100px}
.last-section h2{font-weight: bold;margin-bottom: 20px; color:#0d223c;}
.last-section p{margin-top: 30px}
.space{margin-top: 30px}
.main-contact{background-color: #0d223d;}
.main-contact h1{color: #fff;font-weight: bold;padding: 50px 0 0; margin-bottom: 20px}
.main-contact p{color: #fff; font-size: 18px}
.talk{background-color: #fcfbff;border-radius: 15px;padding: 60px}
.talk h3{color: #711a64}
.button1{color: #fff;background-color: #731b65; border-radius: 6px;padding: 10px 65px;border:1px solid #731b65;}
.contact-call{border:1px solid #731b65;}
.contact-section1{padding: 50px 0}
.mt-50{margin-top: 50px;}
.call{padding: 152px}
.pl-67{padding-left: 67px}
.call p{font-size: 15px;color: #000;font-weight: bold}
.main-contact h1::after{content:"" ;background-color: #fff;height: 2px;width: 85px;top: 126px;right: 177px;position: absolute;}
.section{margin-top: 80px;margin-bottom: 200px}
.section h2{border-bottom: 1px solid #eae8ea;padding: 0px 0px 20px 0px}
.section p{margin-top: 20px}
.about-section{background-color: #0d223d;margin-bottom: 40px;padding: 50px 0 0}
.about-section h1{color: #fff;font-weight: bold;padding: 53px 0 0; margin-bottom: 20px}
.about-section p{color: #fff;font-size: 18px}
.about-section h1::after{content: "";background: #fff;height: 2px;width: 85px;top: 120px;left: 210px;position: absolute;}
.about2{margin-top: 50px;margin-bottom: 50px}
.about-last{ background: #fcfbff;padding: 50px 0; margin-top: 200px}
.lastimg{margin-top: -100px}
.about2 h2{padding: 50px 20px 10px 67px;font-weight: bold;}
.about2 p{padding-left: 67px;color: #0d223c}
.about3{margin-top: 60px;margin-bottom:75px}
.about3 h2{font-weight: bold;padding: 40px 0}
.found{padding-top: 5px; margin-left: -20px}
.mt-70{margin-top: 70px}
.found h4{ margin-top: 0 }
.mt-40{margin-top: 40px}
.solution-section{background-color: #0d223d;padding: 50px 0 0}
.solution-section h1{color: #fff;font-weight: bold;padding: 53px 0 0; margin-bottom: 20px}
.solution-section h1::after{content:"" ;background-color: #fff;height: 2px;width: 85px;top: 132px;left:320px;position: absolute;}
.solution-section p {color: #fff;font-size: 18px}
.bank{padding: 50px 0 0 50px;}
.stay{font-size: 20px;font-weight: bold; color:#0d223d;}
.trust p,.integrity p,.analysis p,.get1 p, .get p,.access p,.insights p,.bank1 p,.bank p,.bank2 p,.bank3 p{color:#0d223d;}
.bank2{padding:50px 0 0 50px}
.bank1{padding:50px 50px 0 0;}
.bank3{padding: 50px 50px 0 0;}
.private{margin-top: 100px}
.solution2{margin-bottom: 100px;}
.institutions-section{background-color: #0d223d;padding:50px 0 0}
.institutions-section h1{color: #fff;font-weight: bold;padding: 53px 0 0; margin-bottom: 20px}
.institutions-section p{color: #fff;font-size: 18px}
.institutions-section h1::after{content:"" ;background-color: #fff;height: 2px;width: 85px;top: 132px;left:320px;position: absolute;}
.institutions{margin-bottom: 100px}
.get{padding: 75px 0}
.get1{padding:50px 0 0 50px;}

.investors-section{background-color: #0d223d;padding: 50px 0 0}
.investors-section h1{color: #fff;font-weight: bold;padding: 53px 0 0; margin-bottom: 20px}
.investors-section p{color: #fff;font-size: 18px}
.investors-section h1::after{content:"" ;background-color: #fff;height: 2px;width: 85px;top: 132px;left:270px;position: absolute;}
.investors{margin-bottom:100px}
.access{padding:50px 50px 0 0}
.insights{padding: 50px 0 0 50px}
.shareholders-section{background-color: #0d223d;padding: 50px 0 0; }
.shareholders-section h1{color: #fff;font-weight: bold;padding: 120px 0 0; margin-bottom: 20px}
.shareholders-section p{color: #fff;font-size: 18px}
.shareholders-section h1::after{content:"" ;background-color: #fff;height: 2px;width: 85px;top: 196px;left: 180px;position: absolute;}
.shareholders{ margin-bottom: 100px }
.trust{padding: 50px 0 0 50px}
.integrity{padding: 0px 5px}
.analysis{padding: 2px 0px 0 50px}
.trade h3{font-weight: bold; color: #0d223d; line-height: 1.5; margin-top: 100px;}
.last-shareholders{margin-bottom: 100px;background: linear-gradient(to right, #fff 70%, #fcfbff);}
.live{background: #fcfbff;padding: 30px; border-radius: 30px}
.trade{padding: 38px}
.ul2{padding: 0}
.shul li{ padding: 10px 0; color: #0d223d }

.faq-section h1{font-weight: bold; color: #0d223d;margin-bottom: 50px}
.faq-section{margin-top: 100px;margin-bottom: 85px}
.control{padding: 18px 53px !important}
.icon,.icon:hover{
font-size: 18px;
position: relative;
top: 32px;
color: #a19ba2;
padding: 0 21px
}
.key{margin-top: 70px}
.accordion {
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  transition: 0.4s;
  background-color: #fff;
  color: #0d223c;
}

.accor {
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: #fff;
  color: #0d223c;
}
.accor::after{content: '\002B';
  color: #000;
  font-weight: bold;
  margin-right: 10px;float: right}
  .active1::after{
    content: "\2212";
  }
/*.active, .accordion:hover {
  background-color: #ccc;
}*/

.accordion:before {
  content: '\002B';
  color: #8d4582;
  font-weight: bold;
  padding: 20px 35px 20px 0;
}

.active:before {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color:#0d223d;
}
.panel1 {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color:#0d223d;
}
.services-section{padding: 50px 0 0;}
.services-section h1{
color: #fff;font-weight: bold;padding: 53px 0 0;margin-bottom: 20px;
}
.services-section p{color: #fff;font-size: 18px}
.services-section h1::after{content:"" ;background-color: #fff;height: 2px;width: 81px;top: 133px;right: 333px;position: absolute;}
.buy{background-color: #fff;padding: 46px 3px 22px 33px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 167px;left:-129px;}
.escrow{background-color: #fff;padding: 85px 19px 85px 28px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 204px;left:-141px;}
.growth{background-color: #fff;padding: 80px 29px 80px 29px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 204px;right:-157px;}
.buy h4,.sell h4,.see h4,.limit h4,.escrow h4,.growth h4{font-weight: bold;}
.buy p,.sell p,.limit p,.escrow p,.growth p{font-size: 16px; line-height: 1.5}
.see p{font-size: 16px;line-height: 1.5}
.services{margin-top: 100px;margin-bottom: 85px}
.sell{background-color: #fff;padding: 43px 35px 55px 30px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 165px;right:-164px;}
.see{background-color: #fff;padding: 71px 19px 71px 20px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 141px;left:-136px;}
.limit{background-color: #fff;padding: 43px 30px 51px 30px;box-shadow: 0 0 10px #ccc;position: absolute;z-index: 1;top: 182px;right:-165px;}
.last-services{margin-top: 20px;margin-bottom: 130px}
.last-services h3{font-weight: bold;}
.img1{margin-top: 75px}
.i1{font-weight: bold;position: absolute;top: 135px;
    left: 30px;
}
.i2{font-weight: bold;position: absolute;top: 306px;left: 29px}
.i3{font-weight: bold;position: absolute;top:475px;left: 27px }
.i4{font-weight: bold;position: absolute;bottom: 382px;left: 27px}
.i5{font-weight: bold;position: absolute;bottom: 215px;left: 27px}
.i6{font-weight: bold;position: absolute;bottom: 58px;left: 27px}
.company-ul li{list-style: none;display: inline;padding: 10px}
.company-ul li a:hover{text-decoration: none;}
.com{color: #000;font-weight: bold;}
.hdfc{color: #731b65;font-weight: bold;}
.top{margin-top: 15px}
.angle{
	margin-top: 43px;
    padding: 22px;
    border: 1px solid #d2ced3;
    border-radius: 5px;
}
.company-ul{padding: 0}
.mt-1{margin-top: 19px}
.range{margin-top: 25px}
.code{margin-top: 43px;border: 1px solid #d2ced3;
    border-radius: 5px;
    padding: 15px;}
    .btn2{background-color: #731b65;padding: 8px 20px;border-radius: 5px; color: #fff;}
    .reach a{color: #fff;}
    .want{font-weight: bold}
    .know{padding: 10px 45px 10px 120px}
    .company-section{margin-top: 50px;margin-bottom: 50px}
    .sun{border:1px solid #e6e6e6;border-radius: 10px}
    .moon{border-bottom: 1px solid #e6e6e6;padding:20px;}
    .earth{padding: 20px}
    .moon p span{font-size: 12px;}
    .moon p span a{color: #000}
    .panel1 p span{margin-left: 10px}
    .panel1 p{font-size: 13px}
    .galaxy h4{font-weight: bold;color: #000}
    .rome a:hover{text-decoration: none;background-color: #f2f2fa;color: #732f67;padding: 5px 10px 5px 10px;
      border:1px solid #732f67;}
      .moon span{margin-top: 3px}
    .rome a{background-color: #732f67;color: #fff;padding: 5px 10px 5px 10px;margin-right: 5px}
    .galaxy{background-color: #f2f2fa;padding: 20px}
    .value1{padding: 10px 20px;background-color: #fff}
    .rome{font-size: 13px}
    .galaxy select{padding: 3px}
    
    .p50 a{color:#fff }
    .rt{margin-top: 50px;margin-bottom: 85px}
    .pr0{padding-right: 0}
    .pl0{padding-left: 0}
    .p0{padding:0;}
    .pc{font-size: 20px;font-weight: bold;}
    .pc-img{height: 70px;width: 70px;margin-right: 10px}
    .mt-80{margin-top: 80px}
    #loginModal .modal-header{padding:10px; border: none !important;}
    #loginModal .modal-body{padding-top:0px; padding-bottom: 0; border: none !important;}
    #loginModal h3{ margin: 40px 0 30px; }
    .loginbtn{ background:#731b67; color:#fff;  }
    .forgotdiv a{color: #333; margin: 0 20px; font-weight: bold;}
    .signup{margin-top: 30px; border-top:1px solid #ccc; padding: 30px 0;}
    .modalleft,.modalright{padding: 0 50px;}
    .modalleft img{ margin-top: 70px; margin-bottom: 50px }
    .sidenav{background-color:#111;height:100%;left:0;overflow-x:hidden;position:fixed;top:0;transition:.5s;width:0;z-index:1;}
.sidenavR{height:100%;overflow-x:hidden;position:fixed;right:-70px;top:0;transition:.5s;width:0;z-index:1;}
.sidenav a,.sidenavR a{color:#fff;display:block;padding:8px 0;text-decoration:none;transition:.3s;}
.sidenavR ul li{color:#fff;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}
.sidenavR .closebtn{font-size:16px;margin-left:50px;position:absolute;right:105px;top:0;}
.sidenavR .closebtn span{font-size: 36px;}
.skew{ background-color: #0d223c;
  transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg); }
  .skewnav
  {
    padding: 150px 100px;
  transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  }
  .text-white{color: #fff !important}
@media screen and max-height 450px {
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:18px;}
}
@media (max-width:767px)
{
	.header ul{ padding:0 }
	.header ul li { display: block; }
	.item img{ margin-top: 30px }
	.carousel-indicators{display: none;}
	.call{ padding: 100px 50px }
	.about2 h3,.about2 p{padding-left: 0}
	.found{margin-left: 0; padding-left: 15px}
	.trust,.integrity,.analysis,.get1, .get,.access,.insights,.bank1,.bank,.bank2,.bank3{padding: 20px 0;}
	.private{margin-top: 50px}
	*:after{display: none;}
  .pl0 p{text-align: center;}
  .pr0 img{display: block;
  margin-left: auto;
  margin-right: auto;}
  .buy{background-color: #fff;padding: 46px 15px 22px 13px;box-shadow: 0 0 10px #ccc;
    position: relative;z-index: 1;top: 28px;left:-5px;}
.sell{background-color: #fff;padding: 18px 35px 15px 30px;box-shadow: 0 0 10px #ccc;position: relative;z-index: 1;top: 57px;
    right: 0}
    .see{background-color: #fff;padding: 71px 19px 71px 20px;box-shadow: 0 0 10px #ccc;
      position: relative;z-index: 1;top: 22px;left:-1px;}
  .limit{background-color: #fff;padding: 43px 30px 51px 30px;box-shadow: 0 0 10px #ccc;
  position: relative;;z-index: 1;top: 36px;right:0px;} 
  .escrow{
    background-color: #fff;padding: 85px 19px 85px 28px;box-shadow: 0 0 10px #ccc;
    position: relative;z-index: 1;top: 22px;left:0px;
  }
  .growth{background-color: #fff;padding: 80px 29px 80px 29px;box-shadow: 0 0 10px #ccc;position: relative;z-index: 1;top: 35px;right:0;}
  .i1{font-weight: bold;position: relative;top: 47px;
    left: 14px;
}
.i2{font-weight: bold;position: relative;top: 48px;left: 15px}
.i3{font-weight: bold;position: relative;top:48px;left: 14px }
.i4{font-weight: bold;position: relative;top: 50px;left: 15px}
.i5{font-weight: bold;position: relative;top: 48px;left: 15px}
.i6{font-weight: bold;position: relative;top: 48px;left: 15px}
.rome{margin-top:20px;}
.rome select{margin-top: 15px;}
.modalleft,.modalright{ padding: 0; }
.modalleft img{ margin-top: 0; margin-bottom: 0; }
.modalright img{margin:20px auto 0; display: block}
#loginModal h3{ margin: 20px 0 20px; }
.forgotdiv a{margin: 0 5px;}

}